/*soft reset do css*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


  body {
    background-image: url('../img/background.jpg');
    background-size: 100vw 100vh;
    height: 100vh;
    font-size: 12px;
  }

  /* se a tela tiver pelo menos 400px vai carregar estes estilos*/
  @media (min-width: 400px){
      body {
        font-size: 12px ;
      };
  }

  /*breakpoint*/
  @media (min-width: 600px){
    body {
      font-size: 14px ;
    } 
  }

  @media (min-width: 1200px){
    body {
      font-size: 14px ;
    }
    .img-perfil {
      size: 100px;
    }
  }

  header{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu{
    background-color: rgba(46, 49, 49, 1);
    position: fixed;
    width: 100vw;
    top: 0;
  }

  .menu li {
    list-style: none;
  }

  .menu ul {
    display: flex;
    justify-content: space-evenly;
  }

  .menu a{
    display: block;
    padding: 10px 10px;
  }

  a {
    color:whitesmoke;
    text-decoration: none;
    font-size: 1.5em;
    font-family: "Helvetica Neue", Helvetica
  }

  .img-perfil{
    border-radius: 700px 700px 700px 700px;
    display: block;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
  }

  .site-title {
    font-size: 3em;
    text-align: center;
    color: whitesmoke;
    font-family: "Helvetica Neue", Helvetica
  } 

  .site-subtitle{
    line-height: 1.5em;
    font-size: 2em;
    text-align: center;
    color: whitesmoke;
    font-family: "Helvetica Neue", Helvetica;
    margin-bottom: 70px;
  }

  .menu-2 {
    background-color: rgba(120, 120, 120, 0.5);
    border-radius: 25px 25px 25px 25px;
  }

  .menu-2 li {
    list-style: none;
  }

  .menu-2 ul {
    display: flex;
    justify-content: space-evenly;
  }

  .h2-pg{
    line-height: 1.5em;
    font-size: 2em;
    text-align: center;
    color: whitesmoke;
    font-family: "Helvetica Neue", Helvetica;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .menu-2 a{
    display: flex;
    margin-top: 7px;
    margin-bottom: 7px;
  }
  
  .projetos{
    padding: 2em;
    height: 100vh;
  }

  .grid{
    display: grid;
    gap: 2em;
    justify-content: center;
    align-content: center;
    height: calc(100vh - 100px -1em);

  }

  .projetos figure{
    text-align: center;
  }

  .img-projetos{
    width: 100%;
    right: 100%;
    object-fit: cover;
    border-radius: 30px 0px;
  }

  figcaption {
    color: whitesmoke;
    font-family: "Helvetica Neue", Helvetica;
    font-size: medium;
  }

  @media (min-width: 560px){
    .grid{
      grid-template-columns: 240px 240px;
      justify-content: center;
      align-content: center;
      height: calc(100vh - 100px - 1em);
    
    }
  }

  @media (min-width: 800px){
    .grid{
      grid-template-columns: 240px 240px 240px;
      justify-content: center;
      align-content: center;
      height: calc(100vh - 100px - 1em);
    }
  }

  @media (min-width: 900px){
    .grid{
      gap: 4em;
      grid-template-columns: 300px 300px 300px;
      justify-content: center;
      align-content: center;
      height: calc(100vh - 100px -1em);
    }
  }